@font-face {
    font-family: Cocogoose;
    src: url('.././assets/fonts/cocogoose/Cocogoose-Pro-Semilight-trial.ttf');
}

@font-face {
    font-family: CreatoDisplay;
    src: url('.././assets/fonts/creato_display/CreatoDisplay-Regular.otf');
}