
:root {
    --primary-color: #082129;
    --background-color: #05171E;
}

#header_bar, #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: var(--primary-color);
}


#title_logo {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 900px;
    width: 100%;
    gap: 1px;
}

#logo {
    width: 70px;
    height: 70px;
}

#title {
    font-size: 32px;
    color: white;
    font-family: Cocogoose Title;
}


#store {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 240px);
    background-color: var(--background-color);
    padding-top: 50px;
}

#books {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 0;
    padding: 0 50px;
    flex-wrap: wrap;
}

#footer {
    flex-direction: column;
    gap: 4px;
    color: white;
    font-family: CreatoDisplay;
}

#footer a {
    color: rgb(200, 253, 207);
}


/* Responsive Styling */

@media (max-width: 768px) {
    #store {
        padding: 50px 20px 0 20px;
    }
    #books {
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    #store {
        padding: 50px 10px 0 10px;
    }
}